NODE_ENV=development

SERVER_PORT=3020

SERVER_URL=https://micapi.nostep.space
CLIENT_URL=http://localhost:5173

LOG_LEVEL=info

AUTH_SECRET=

DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=mic_share
DB_TABLE_PREFIX=micshare_


CLIENT_DEV_PORT=5173