@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #111214;
    -webkit-user-select: none;
    user-select: none;
  }

  input,
  textarea {
    -webkit-user-select: text;
    user-select: text;
  }

  button:focus {
    outline: none;
  }

  ::selection {
    background-color: #5865f2;
    color: #ffffff;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: #2b2d31 transparent;
  }
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #2b2d31;
    border-radius: 9999px;
  }
  *::-webkit-scrollbar-thumb:hover {
    background-color: #383a40;
  }
  *::-webkit-scrollbar-corner {
    background: transparent;
  }
}
